doctype html
html
  head
    title My Website
    link(rel='stylesheet', href='/styles.css')
  body
    header
      h1 My Website
      nav
        ul.nav-links
          li.nav-item
            a(href='/')#pink-button Home
          li.nav-item
            a(href='/groups') Groups
          li.nav-item
            a(href='/dashboard') Dashboard
          li.nav-item
            a(href='/friends') Friends
          li.nav-item
            a(href='/folders') Folders
          li.nav-item
            a(href='/notes') Notes
          li.nav-item
            a(href='/logout')#orange-button Log out
    block content
    footer
      p Copyright © 2024 My Website
