extends ../layout

block content
    .container
        h2 Your Groups
        ul
            each group in groups
                li
                    a(href=`/groups/${group.id}`)= group.name
        a.btn.btn-primary(href="/groups/new") Create Group
            