extends ../layout

block content
    .container
        h2 Create User
        form(action="/registration/new" method="POST")
            .form-group
                p(style="color: red; font-size: 16px;") #{message}
                label(for="username") Username:
                input#username.form-control(type="text" name="username" placeholder="Enter username" required)
            .form-group
                label(for="email") Email:
                input#email.form-control(type="email" name="email" placeholder="Enter email" required)
            .form-group
                label(for="password") Password:
                input#password.form-control(type="password" name="password" placeholder="Enter password" required)
            button.btn.btn-primary(type="submit") Create User
